.card
{
  background-color: #fff;
  border: 2px solid #eee;
  border-radius: 10px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 13px 16px 0px 16px;
}

form
{
  display: flex;
  flex-direction: column;
}

.bloc_input
{
  display: flex;
  flex-direction: column;
}

.sky-blue
{
  background-color: #90cbe5;
}

button {
  background-color: #F98524;
  border-radius: 15px;
  border: none;
  color: white;
  padding: 10px 35px;
  font-size: 18px;
  margin-top: 4px;
  margin-bottom: 30px;
  align-self: flex-end;
  margin-right: 25px;
  font-weight: bold;
  cursor: pointer;
}

input
{
  background-color: #ddd;
  border-radius: 10px;
}

h1
{
  color: #f98524;
}

label
{
  color: #999;
}
