<div class="all">
  <div class="card">
    <img class="logo-sportpxl" src="https://www.app.sportpxl.com/static/media/logo-white.0384baa8e9b61cb89ab649fee1da120f.svg" alt="logo_sportpxl">
    <img class="login-icon" src="assets/images/login_icon.png" alt="login_icon" />
    <h1>Log In</h1>

    <!-- Message d'erreur ou de blocage -->
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <form (ngSubmit)="onSubmit()">
      <div class="bloc_input">
        <label for="email">Email</label>
        <input id="email" type="text" placeholder="Email" [(ngModel)]="email" name="email" [disabled]="isBlocked" />
      </div>

      <div class="bloc_input">
        <label for="password">Password</label>
        <input id="password" type="password" placeholder="Password" [(ngModel)]="password" name="password" [disabled]="isBlocked" />
      </div>

      <a href="https://www.app.sportpxl.com/forgot">Forget Password?</a>
      <button class="btn_login" type="submit" [disabled]="isLoading || isBlocked">
        <span *ngIf="!isLoading && !isBlocked">LOG IN</span>
        <span *ngIf="isLoading" class="spinner"></span>
        <span *ngIf="isBlocked && !isLoading">BLOQUÉ ({{ remainingTime }})</span>
      </button>
    </form>
  </div>
</div>
