div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 41px;
    margin-left: 13px;
    margin-right: 13px;
    height: 40px;
}

main {
    margin: 13px;
}

.back-button {
    background-color: #2C9FBB;
    border-width: 5px;
    border-style: solid;
    border-color: #217589;
    color: white;
    font-size: large;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px 20px;
    transition: all 0.2s;

    &:hover {
        background-color: #217589;
    }
}

.photographer-name {
    margin: 0;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 600;
}
