textarea {
    width: 100%;
    height: 100%;
    max-height: 100%;
    min-height: 200px;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid #ccc;
    resize: none;
    background-color: #eee;
    transition: all 0.3s ease;
}

textarea:focus {
    outline: none;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.08);
    transform: scale(1.01);
    min-height: 220px;
    font-size: 20px;
    padding: 24px;
    background-color: #f7f7f7;
}

label {
    opacity: 50%;
    margin-top: 5px;
    pointer-events: none;
}

button {
    background-color: #F98524;
    border-radius: 15px;
    border: none;
    color: white;
    padding: 10px 35px;
    font-size: 18px;
    margin-top: 4px;
    margin-bottom: 30px;
    align-self: flex-end;
    margin-right: 25px;
    font-weight: bold;
    cursor: pointer;
}

.form {
    padding: 50px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;

    div {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

.error-message {
    color: #d93025;
    word-break: break-word;
    white-space: normal;
    font-size: 12px !important;
}