div {
    margin: 13px;
    display: flex;
    height: auto;

    @media (max-width: 768px) {
        display: none;
    }
}

div p {
    margin: 0;
    text-align: center;
    font-family: 'FuturaLT';
    font-size: 34px;
}