div {
    margin: 13px;
    display: flex;
    height: auto;

    @media (max-width: 768px) {
        margin: 8px 13px;
    }
}

div p {
    margin: 0;
    text-align: center;
    font-family: 'FuturaLT';
    font-size: 34px;

    @media (max-width: 768px) {
        font-size: 24px;
    }
}