body {
    background-color: #E8EAF6;
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    width: 100vw;
    height: 84px;
}

.logo {
    height: 60px;
    margin-right: 20px;
    margin-left: 20px;
}