input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 4px;
    min-width: 0;
    flex: 1;
}

div {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
}

button {
    background-color: #F98524;
    border: none;
    padding: 5px 12px;
    padding-top: 8px;
    border-radius: 7px;
    flex-shrink: 0;
}