.container {
    background-color: white;
    border-radius: 10px;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 1px;
    height: 68vh;
    display: flex;
    flex-direction: column;
}

.invoice-list {
    overflow-y: auto;
    margin-bottom: 13px;
}

p {
    font-family: 'FuturaLT-Bold';
    font-size: 24px;
}