<div class="nameTitle">
  <div></div>
  <div>{{ name }}</div>
  <div><img src="assets/images/logo-tableau-de-bord.png" alt="logo chiffre d'affaire"></div>
</div>
<div class="body">
  <div class="card">
    <div class="card">
      <h1>Informations générales</h1>
      <div class="card2">
        <div *ngIf="!family_name && !given_name; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
          <p>Nom</p>
          <p>{{ name }}</p>
        </ng-template>
        <ng-template #elseBlock>
          <div *ngIf="family_name">
            <p>Nom</p>
            <p>{{ family_name }}</p>
          </div>
          <div *ngIf="given_name">
            <p>Prenom</p>
            <p>{{ given_name }}</p>
          </div>
        </ng-template>
        <p>email</p>
        <p>{{ email }}</p>
        <p>Nombre de ventes totales</p>
        <p>{{ numberSell }}</p>
        <div class="card3">
          <div>
            <p>Adresse</p>
            <p>{{ street_address }}</p>
          </div>
          <div>
            <p>Ville</p>
            <p>{{ locality }}</p>
          </div>
          <div>
            <p>Code postal</p>
            <p>{{ postal_code }}</p>
          </div>
          <div>
            <p>Pays</p>
            <p>{{ country }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div>
      <div class="credit-count">
        <div>
          <p>Chiffre d'affaires : </p>
          <p>{{ turnover }}</p>
        </div>
        <img src="assets/images/logo-tableau-de-bord.png" alt="logo chiffre d'affaires">
      </div>
      <div class="credit-count">
        <div>
          <p>Crédits restants : </p>
          <p>{{ remainingCredits }}</p>
        </div>
        <img src="assets/images/credits_icon.png" alt="logo credits">
      </div>
    </div>
    <div class="graph">
      <h1>Soon</h1>
    </div>
  </div>
</div>
