<div class="card">
    <div>
        <!-- routerLink a changer quand on aura la page profil -->
        <a routerLink="/" ><p>Photographer : {{ photographer.name }}</p></a> 
        <p *ngIf="photographer.emails.length > 0">Email : {{ photographer.emails[0] }}</p>
        <p *ngIf="photographer.emails.length == 0">Pas d'email</p>
    </div>
    <div>
        <p>Chiffre d'affaires</p>
        <div class="value-button-pair chiffre-affaires">
            <p></p>
            <!-- routerLink à changer quand on aura la page formulaire -->
            <button routerLink="/"><span class="material-symbols-outlined">note_add</span></button>
        </div>
    </div>
    <div>
        <p>Nombre de crédits</p>
        <div class="value-button-pair credits">
            <p></p>
            <!-- routerLink à changer quand on aura la page formulaire -->
            <button routerLink="/"><span class="material-symbols-outlined">note_add</span></button>
        </div>
    </div>
    <div>
        <p>Statut des factures</p>
        <div class="statuts">
            <p>Payées</p><p class="payees"></p>
            <p>Non payées</p><p class="non-payees"></p>
            <p>En retard</p><p class="en-retard"></p>
        </div>
    </div>
</div>