div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 8px;
    justify-content: space-between;
    flex-direction: row;

    :first-child{
        align-items: flex-start;
    }
}

.statuts{
    flex-direction: row;
    gap: 8px;
}

.value-button-pair {
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

button {
        border: 1px solid;
        border-radius: 7px;
        padding: 4px 8px;
        padding-top: 8px;
}

.chiffre-affaires{
    button {
        background-color: #2C9FBB;
        border-color: #217589;
    }
}

.credits{
    button {
        background-color: #40B155;
        border-color: #2E9040;
    }
}

a {
    text-decoration: none;
    color: inherit;
}