<div [class.hide]="isLoginPage()">
   <nav [class.open]="isOpen">
      <ul>
         <li *ngFor="let page of pages">
            <a *ngIf="page.route" [routerLink]="page.route" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
               <img [src]="page.icon" class="navbar-icon" [alt]="page.label">
               {{ page.label }}
            </a>
            <div *ngIf="!page.route" class="parent-page">
               <img [src]="page.icon" class="navbar-icon" [alt]="page.label">
               {{ page.label }}
            </div>
            <ul *ngIf="page.subPages" class="sub-pages">
               <li *ngFor="let subPage of page.subPages">
                  <a [routerLink]="subPage.route" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                     <img [src]="subPage.icon" class="navbar-icon" [alt]="subPage.label">
                     {{ subPage.label }}
                  </a>
               </li>
            </ul>
         </li>
      </ul>
      <div class="disconnect-container">
         <button class="disconnect" aria-label="Disconnect" (click)="disconnect()">
            <img src="assets/images/logout_icon.svg" class="navbar-icon" alt="Déconnexion">
            Se déconnecter
         </button>
      </div>
      <div class="legal-links">
         <a *ngFor="let link of legalLinks" [href]="link.url" target="_blank" rel="noopener noreferrer">
            {{ link.label }}
         </a>
      </div>
   </nav>
</div>