<div class="navbar-overlay" [class.open]="isOpen" (click)="onNavbarToggled()"></div>
<nav [class.open]="isOpen">
   <ul>
      <li *ngFor="let page of pages">
         <a [routerLink]="page.route" (click)="onNavbarToggled()">
            <img [src]="page.icon" class="navbar-icon" [alt]="page.label">
            {{ page.label }}
         </a>
      </li>
   </ul>
   <div class="legal-links">
      <a *ngFor="let link of legalLinks" [href]="link.url" target="_blank" rel="noopener noreferrer">
         {{ link.label }}
      </a>
   </div>
</nav>