<div *ngIf="invoiceType !== ''" class="card">
    <div>
        <p>Emission {{ invoice.issueDate | date: 'mediumDate' }}</p>
        <p style="font-size: larger;">{{ invoice.number }}</p>
    </div>
    <div class="middle" *ngIf="invoiceType === 'Credit'">
        <div>
            <p style="font-size: larger;">Achat de crédits</p>
        </div>
        <div class="values">
            <p class="amount">{{ invoiceCredit.amount | currency }}</p>
            <p class="credits">+{{ invoiceCredit.credits | number:'':'fr-FR'}} cr</p>
        </div>
    </div>
    <div class="middle" *ngIf="invoiceType === 'Payment'">
        <div>
            <p style="font-size: larger;">versement de chiffre d'affaires</p>
            <div class="values">
                <p class="amount">{{ getTurnover() | currency }}</p>
            </div>
        </div>
    </div>
    <div>
        <div class="actions">
            <p class="payée status" *ngIf="invoiceType === 'Payment'">Payée</p>
            <p *ngIf="invoiceType === 'Credit'" class="{{ (invoiceCredit.status | lowercase).split(' ').join('-') }} status">{{ invoiceCredit.status }}</p>
            <button class="open" (click)="openInvoice(invoice.link_pdf)">
                <span class="material-symbols-outlined">open_in_new</span>
            </button>
            <button class="download" (click)="downloadInvoice(invoice.link_pdf, invoice.pdf_invoice_subject)">
                <span class="material-symbols-outlined">download</span>
            </button>
        </div>
        <p>
            Echéance {{ invoice.dueDate | date: 'mediumDate' }}
        </p>
    </div>
</div>
