<div *ngIf="invoiceType !== ''" class="card">
    <div>
        <p>{{ 'INVOICE_CARD.SENT' | translate }}{{ invoice.issueDate | date: 'mediumDate' }}</p>
        <p style="font-size: larger;">{{ invoice.number }}</p>
    </div>
    <div class="middle" *ngIf="invoiceType === 'Credit'">
        <div>
            <p style="font-size: larger;">{{ 'INVOICE_CARD.CREDIT_PURCHASED' | translate }}</p>
        </div>
        <div class="values">
            <p class="amount">{{ invoiceCredit.amount | currency }}</p>
            <p class="credits">+{{ invoiceCredit.credits | number:'':'fr-FR'}} cr</p>
        </div>
    </div>
    <div class="middle" *ngIf="invoiceType === 'Payment'">
        <div>
            <p style="font-size: larger;">{{ 'INVOICE_CARD.TURNOVER_PAYMENT' | translate }}</p>
            <div class="values">
                <p class="amount">{{ getTurnover() | currency }}</p>
            </div>
        </div>
    </div>
    <div>
        <div class="actions">
            <p class="payée status" *ngIf="invoiceType === 'Payment'">{{ 'INVOICE_CARD.STATUS_PAYED' | translate }}</p>
            <p *ngIf="invoiceType === 'Credit'" class="{{ (invoiceCredit.status | lowercase).split(' ').join('-') }} status">{{ invoiceCredit.status }}</p>
            <button class="open" (click)="openInvoice(invoice.link_pdf)">
                <span class="material-symbols-outlined">open_in_new</span>
            </button>
            <button class="download" (click)="downloadInvoice(invoice.link_pdf, invoice.pdf_invoice_subject)">
                <span class="material-symbols-outlined">download</span>
            </button>
        </div>
        <p>
          {{ 'INVOICE_CARD.DUE' | translate }}{{ invoice.dueDate | date: 'mediumDate' }}
        </p>
    </div>
</div>
