.filter-container {
    position: relative;
}

.filter-title {
    position: absolute;
    top: 22px;
    right: 60px;
    font-family: 'FuturaLT-Bold';
    font-size: 24px;
    margin: 0;
}

.filter-button {
    position: absolute;
    top: 22px;
    right: 16px;
    width: 34px;
    height: 34px;
    border-radius: 10px;
    border: none;
    background-color: #D9D9D9;
    background-image: url('/assets/add_icon.png');
    background-size: 20px 20px;
    background-position: center;
    background-repeat: no-repeat;
}

.filter-box {
    position: absolute;
    top: 66px;
    right: 16px;
    width: 184px;
    height: 82px;
    background-color: #D9D9D9;
    border-radius: 10px;
    z-index: 1000;
}

.filter-box-title {
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: 'FuturaLT-Bold';
    font-size: 14px;
    margin: 0;
}
