main {
    margin: 13px;
    background-color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 13px;

    p {
        font-size: 24px;
        font-weight: bolder;
    }
}