main {
    margin: 13px;
    background-color: white;
    padding-bottom: 13px;
    border-radius: 8px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 13px;
    gap: 13px;

    p {
        font-size: 24px;
        font-weight: bolder;
        width: 100%;
    }

    app-search-bar {
        width: 100%;
    }
}