main {
    margin: 13px;
    background-color: white;
    padding-bottom: 13px;
    border-radius: 8px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 13px;
    gap: 13px;

    p {
        font-size: 24px;
        font-weight: bolder;
        width: auto;
        margin: 0;
    }

    app-search-bar {
        width: auto;
        flex: 1;
        max-width: 400px;
    }
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        
        p {
            width: 100%;
        }

        app-search-bar {
            width: 100%;
            max-width: 100%;
        }
    }
}