name: Generate Documentation

on:
  push:
    branches:
      - main
      - 'doc/majAuto' # On active le workflow sur votre branche actuelle pour tester

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js (pour le filtre TS)
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y doxygen graphviz
          npm install -g doxygen-filter-ts

      - name: Run Doxygen
        # Doxygen va lire le Doxyfile et créer le dossier docs/html
        run: doxygen Doxyfile

      - name: Create .nojekyll
        run: touch docs/html/.nojekyll

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/html
          force_orphan: true # Recrée la branche proprement à chaque fois