name: Generate Documentation

on:
  push:
    branches:
      - main
      - 'doc/majAuto'

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y doxygen graphviz curl

      - name: Download logo
        run: curl -o logo-sportpxl.svg "https://www.app.sportpxl.com/static/media/logo-white.0384baa8e9b61cb89ab649fee1da120f.svg"

      - name: Run Doxygen
        # Doxygen va lire le Doxyfile et créer le dossier docs/html
        run: doxygen Doxyfile

      - name: Create .nojekyll
        run: touch docs/html/.nojekyll

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/html
          force_orphan: true # Recrée la branche proprement à chaque fois