name: Génération de la documentation

on:
  push:
    branches: [ main, doc/majAuto ]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Récupération du code
        uses: actions/checkout@v4
      
      - name: Configuration de GitHub Pages
        uses: actions/configure-pages@v4
      
      - name: Installation de Doxygen
        run: sudo apt-get update && sudo apt-get install -y doxygen graphviz curl
      
      - name: Téléchargement du logo SportPxl
        run: |
          curl -o logo-sportpxl.svg https://www.app.sportpxl.com/static/media/logo-white.0384baa8e9b61cb89ab649fee1da120f.svg
      
      - name: Génération de la documentation via Doxygen
        run: doxygen Doxyfile
      
      - name: Upload de l'artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'docs/html'
  
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    
    steps:
      - name: Déploiement sur GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4